{% load static %}
{% load boost %}

<div class="container-fluid text-center">
    <h5>詳細表示</h5>
    <h6>選択中のアクション</h6>
    <h6 style="background-color: white; overflow:scroll;">{{action}}</h6>
    <h6>意図</h6>
    <h6 style="background-color: white; overflow:scroll;">{{intention}}</h6>
    <h6>知識・道具</h6>
    <h6 style="background-color: white; overflow:scroll;">{{toolknowledge}}</h6>
    <h6>注釈</h6>
    <h6 style="background-color: white; overflow:scroll;">{{annotation}}</h6>
    <h6>出力</h6>
    <h6 style="background-color: white; overflow:scroll;">{{output}}</h6>
</div>

{% for lld_action in lld_actions %}
<div class="container-fluid text-center">
    <h5>詳細表示</h5>
{% for lld_action_elem in lld_action %}
    {% if forloop.counter0 == 1 %}
    <h6>アクション</h6>
    {% elif forloop.counter0 == 2 %}
    <h6>意図</h6>
    {% elif forloop.counter0 == 3 %}
    <h6>知識・道具</h6>
    {% elif forloop.counter0 == 4 %}
    <h6>注釈</h6>
    {% elif forloop.counter0 == 5 %}
    <h6>出力</h6>
    {% endif %}
    {% if forloop.counter0 != 0 %}
    <h6 style="background-color: white; overflow:scroll;">{{lld_action_elem}} </h6>
    {% endif %}
{% endfor %}
</div>

{% endfor %}


<div class="container-fluid text-center">
    <form method="POST">
        {% csrf_token %}
    <h5>作業記録</h5>
    <h6>実施アクション</h6>
    <input type= "text" style="background-color: white; overflow:scroll;" name="action" value='{{action}}'></input>
    <h6>意図</h6>
    <input type= "text" style="background-color: white; overflow:scroll;"></input>
    <h6>知識・道具</h6>
    <input type= "text" style="background-color: white; overflow:scroll;"></input>
    <h6>注釈</h6>
    <input type= "text" style="background-color: white; overflow:scroll;"></input>
    <h6>出力</h6>
    <input type= "text" style="background-color: white; overflow:scroll;"></input>
    <input type="button" value="登録" onclick = "add_LLD(this, '{{uri}}', '{{gpm_graph_uri}}', '{{lld_graph_uri}}')"/>
    </form>
</div>
<script>
    function add_LLD(tag, uri, gpm_graph_uri, lld_graph_uri){
        action = tag.parentNode.children[3].value;
        intention = tag.parentNode.children[5].value;
        toolknowledge = tag.parentNode.children[7].value;
        annotation = tag.parentNode.children[9].value;
        output = tag.parentNode.children[11].value;

        data = {uri:uri, action:action, intention:intention, toolknowledge:toolknowledge, annotation:annotation, output:output, gpm_graph_uri:gpm_graph_uri, lld_graph_uri:lld_graph_uri}

        $.ajax({
            type: 'POST',
            url: 'add_LLD',
            data: data,
            dataType: 'text',
        })
        .done(function(response){
            console.log(tag)
            tag.parentNode.append(response);
        })
    }
</script>

