{% load static %}
{% load boost %}

<div  id="LLDedit" style="width:100%;display:flex;overflow:auto;background-color:aliceblue;margin-bottom:3.5rem; border:3px double #0067c0">
    <form  style="width:100%;" method="POST">
        {% csrf_token %}
        <table style="width:100%; table-layout: fixed;" border="1">
            <tr>
                <th style="width:5%;"></th>
                <th style="width:15%;">詳細情報</th>
                <th style="width:80%;">現在の記録</th>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">実施アクション</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" class="js-autolink" readonly>{{gpm_action}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" class="js-autolink" name="lld_action">{{lld_action}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">意図</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_intention}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_intention">{{lld_intention}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">知識・道具</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_toolknowledge}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_toolknowledge">{{lld_toolknowledge}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">注釈</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_annotation}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_annotation">{{lld_annotation}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">導出根拠</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly></textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_rationale">{{lld_rationale}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">出力</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_output}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_output">{{lld_output}}</textarea></td>
            </tr>
        </table>
        <div class="container text-center" style="display:flex;justify-content: space-evenly;">
            <input type="button" value="一時登録" onclick = "add_LLD_stay(lld_action, lld_intention, lld_toolknowledge, lld_annotation, lld_rationale, lld_output, '{{action_uri}}', '{{gpm_graph_uri}}', '{{lld_graph_uri}}')"/>
            <input type="button" value="登録して次のアクションへ" onclick = "add_LLD_gonext(lld_action, lld_intention, lld_toolknowledge, lld_annotation, lld_rationale, lld_output, '{{action_uri}}', '{{gpm_graph_uri}}', '{{lld_graph_uri}}')"/>
        </div>
        <input type="hidden" name="chosen_action_uri" value="{{action_uri}}" >
    </form>
</div>
<script>
    $(function(){
        $('.js-autolink').each(function(){
            text_before = $(this).html()
            text_after = text_before.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig,"<a target='_blank' href='$1'>$1</a>");
            if(text_before != text_after){
                $(this).parent().append(text_after);
            }
        });
    });


    function add_LLD_stay(action, intention, toolknowledge, annotation, rationale, output, action_uri, gpm_graph_uri, lld_graph_uri){
        data = {action_uri:action_uri, action:action.value, intention:intention.value, toolknowledge:toolknowledge.value, annotation:annotation.value, rationale:rationale.value, output:output.value, gpm_graph_uri:gpm_graph_uri, lld_graph_uri:lld_graph_uri, flag:"stay"}
        $.ajax({
            type: 'POST',
            url: 'add_LLD',
            data: data,
            dataType: 'text',
        })
    }

    function add_LLD_gonext(action, intention, toolknowledge, annotation, rationale, output, action_uri, gpm_graph_uri, lld_graph_uri){
        data = {action_uri:action_uri, action:action.value, intention:intention.value, toolknowledge:toolknowledge.value, annotation:annotation.value, rationale:rationale.value, output:output.value, gpm_graph_uri:gpm_graph_uri, lld_graph_uri:lld_graph_uri, flag:"gonext"}

        $.ajax({
            type: 'POST',
            url: 'add_LLD',
            data: data,
            dataType: 'text',
        })
        .done(function(response){
            let objData = JSON.parse(response);
            let next_action_uri = objData.next_action_uri;
            let loopcondition = objData.loopcondition
            var loopcondition1 = [];
            let loopnext = objData.loopnext
            for(let i = 0; i < loopcondition.length; i++){
                loopcondition1.push(loopcondition[i].replace("[loop]", ""));
                loopcondition1[i] = "「" + loopcondition1[i].substring(loopcondition1[i].indexOf("[IF")+3, loopcondition1[i].indexOf("]")) + "」　こちらに該当する場合は" + i + "を入力 \n"
                // loopcondition1.push(loopcondition[i].replace("[loop]", "").replace("[IF", "").replace("]", "")+ " 該当する場合は"+ i + "を入力")
            }

            if(loopcondition.length != 0){
                var condition_result = prompt(loopcondition1);
                if(condition_result < loopcondition.length && condition_result >= 0){

                    if(loopcondition[condition_result].includes("[loop]") == false){
                        console.log(next_action_uri);
                        second(next_action_uri, gpm_graph_uri, lld_graph_uri)
                        edit_action(next_action_uri, gpm_graph_uri, lld_graph_uri)
                    }
                    else{
                        data1 = {action_uri: action_uri, loopnext: loopnext[condition_result], gpm_graph_uri: gpm_graph_uri, lld_graph_uri:lld_graph_uri}
                        $.ajax({
                            type: 'POST',
                            url: 'loop_add',
                            data: data1,
                            dataType: 'text',
                        })
                        .done(function(response){
                            data2 = {action_uri: action_uri, lld_graph_uri: lld_graph_uri}
                            $.ajax({
                                type:'POST',
                                url: 'get_nextaction',
                                data:data2,
                                dataType: 'text',
                            })
                            .done(function(response){
                                let objData2 = JSON.parse(response);
                                next_action_uri = objData2.next_action_uri
                                second(next_action_uri, gpm_graph_uri, lld_graph_uri)
                                edit_action(next_action_uri, gpm_graph_uri, lld_graph_uri)
                            })
                        })
                    }
                }
            }
            else{
                second(next_action_uri, gpm_graph_uri, lld_graph_uri)
                edit_action(next_action_uri, gpm_graph_uri, lld_graph_uri)
            }

        })
    }
</script>
