{% load static %}
{% load boost %}

<div  id="LLDedit" style="width:100%;display:flex;overflow:auto;background-color:aliceblue;margin-bottom:3.5rem; border:3px double #0067c0">
    <form  style="width:100%;" method="POST">
        {% csrf_token %}
        <table style="width:100%; table-layout: fixed;" border="1">
            <tr>
                <th style="width:5%;"></th>
                <th style="width:15%;">詳細情報</th>
                <th style="width:80%;">現在の記録</th>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">実施アクション</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_action}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_action">{{lld_action}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">意図</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_intention}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_intention">{{lld_intention}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">知識・道具</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_toolknowledge}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_toolknowledge">{{lld_toolknowledge}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">注釈</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_annotation}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_annotation">{{lld_annotation}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">導出根拠</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly></textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_rationale">{{lld_rationale}}</textarea></td>
            </tr>
            <tr>
                <th style="writing-mode:tb-rl;">出力</th>
                <td><textarea rows="5" style="background-color:aliceblue;overflow:auto;" readonly>{{gpm_output}}</textarea></td>
                <td><textarea rows="5" style="overflow:auto;" name="lld_output">{{lld_output}}</textarea></td>
            </tr>
        </table>
        <div class="container text-center" style="display:flex;justify-content: space-evenly;">
            <input type="button" value="一時登録" onclick = "add_LLD_stay(lld_action, lld_intention, lld_toolknowledge, lld_annotation, lld_rationale, lld_output, '{{action_uri}}', '{{gpm_graph_uri}}', '{{lld_graph_uri}}')"/>
            <input type="button" value="登録して次のアクションへ" onclick = "add_LLD_gonext(lld_action, lld_intention, lld_toolknowledge, lld_annotation, lld_rationale, lld_output, '{{action_uri}}', '{{gpm_graph_uri}}', '{{lld_graph_uri}}')"/>
        </div>
        <input type="hidden" name="chosen_action_uri" value="{{action_uri}}" >
    </form>
</div>
<script>
    function add_LLD_stay(action, intention, toolknowledge, annotation, rationale, output, action_uri, gpm_graph_uri, lld_graph_uri){
        data = {action_uri:action_uri, action:action.value, intention:intention.value, toolknowledge:toolknowledge.value, annotation:annotation.value, rationale:rationale.value, output:output.value, gpm_graph_uri:gpm_graph_uri, lld_graph_uri:lld_graph_uri}
        $.ajax({
            type: 'POST',
            url: 'add_LLD',
            data: data,
            dataType: 'text',
        })
    }

    function add_LLD_gonext(action, intention, toolknowledge, annotation, rationale, output, action_uri, gpm_graph_uri, lld_graph_uri){
        data = {action_uri:action_uri, action:action.value, intention:intention.value, toolknowledge:toolknowledge.value, annotation:annotation.value, rationale:rationale.value, output:output.value, gpm_graph_uri:gpm_graph_uri, lld_graph_uri:lld_graph_uri}

        $.ajax({
            type: 'POST',
            url: 'add_LLD',
            data: data,
            dataType: 'text',
        })
        .done(function(response){
            let objData = JSON.parse(response);
            let next_action_uri = objData.next_action_uri;
            let loopcondition = objData.loopcondition
            let loopnext = objData.loopnext
            for(let i = 0; i < loopcondition.length; i++){
                loopcondition[i] = loopcondition[i].replace("[loop]", "")+ " 該当する場合は"+ i + "を入力"
            }

            if(loopcondition.length != 0){
                var condition_result = prompt(loopcondition+"\n 上記条件に該当しない場合は"+ loopcondition.length+"を入力");
                if(condition_result < loopcondition.length && condition_result >= 0){
                    data1 = {action_uri: action_uri, loopnext: loopnext[condition_result], gpm_graph_uri: gpm_graph_uri, lld_graph_uri:lld_graph_uri}
                    $.ajax({
                        type: 'POST',
                        url: 'loop_add',
                        data: data1,
                        dataType: 'text',
                    })
                    .done(function(response){
                        second(next_action_uri, gpm_graph_uri, lld_graph_uri)
                        edit_action(next_action_uri, gpm_graph_uri, lld_graph_uri)
                    })
                }
                else if(condition_result == loopcondition.length){
                    second(next_action_uri, gpm_graph_uri, lld_graph_uri)
                    edit_action(next_action_uri, gpm_graph_uri, lld_graph_uri)
                }
            }
            else{
                second(next_action_uri, gpm_graph_uri, lld_graph_uri)
                edit_action(next_action_uri, gpm_graph_uri, lld_graph_uri)
            }

        })
    }
</script>
