<!-- テンプレートの継承 -->
{% extends "common/base.html" %}
{% load static %}

{% block Title %}
<div class="login title">
  <b>過去事例表示</b>
</div>
{% endblock %}

{% block three_column %}
{% endblock %}


{% block content %}
<div class="container-fluid text-center mb-5" style="width:100%;background-color:aliceblue;overflow: auto;">
  <table style="width:100%;" border="1">
    <tr>
      <th style="width:100px;min-width: 100px;">記述表示</th>
      {% for lld_graph in lld_graphs %}
      <td style="width:300px;min-width:300px;">
        <form method="POST" action="{%url 'checklists:top' %}" target="_blank" >
          {% csrf_token %}
          <button type="submit">表示</button>
          <input type="hidden" name="gpm_graph_uri" value="{{gpm_graph_uri}}" >
          <input type="hidden" name="lld_graph_uri" value="{{lld_graph}}" >
        </form>
      </td>
      {% endfor %}
    </tr>
    <tr>
      <th>記述のタイトル</th>
      {% for lld_title in lld_titles %}
      <td style="word-break:break-all;">{{lld_title}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>事例の説明</th>
      {% for lld_description in lld_descriptions %}
      <td style="white-space:pre-wrap;">{{lld_description}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>アクション</th>
      {% for lld_action in lld_actions %}
      <td style="word-break:break-all;">{{lld_action}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>意図</th>
      {% for lld_intention in lld_intentions %}
      <td style="word-break:break-all;">{{lld_intention}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>知識・道具</th>
      {% for lld_toolknowledge in lld_toolknowledges %}
      <td style="word-break:break-all;">{{lld_toolknowledge}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>注釈</th>
      {% for lld_annotation in lld_annotations %}
      <td style="word-break:break-all;">{{lld_annotation}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>導出根拠</th>
      {% for lld_rationale in lld_rationales %}
      <td style="word-break:break-all;">{{lld_rationale}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>出力</th>
      {% for lld_output in lld_outputs %}
      <td style="word-break:break-all;">{{lld_output}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>Document</th>
      {% for lld_document in lld_documents %}
      <td style="word-break:break-all;">{{lld_document}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>Engineer</th>
      {% for lld_engineer in lld_engineers %}
      <td style="word-break:break-all;">{{lld_engineer}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>Tool</th>
      {% for lld_tool in lld_tools %}
      <td style="word-break:break-all;">{{lld_tool}}</td>
      {% endfor %}
    </tr>
  </table>
</div>

<p>知識文書 ランキング</p>
<div class="container-fluid text-center mb-5" style="width:100%;background-color:aliceblue;overflow: auto;">
  <table style="width:100%;" border="1">
    <tr>
      <th style="width:20%;">知識文書タイトル</th>
        <!--検索結果が空の場合-->
        {% if not document_titles %}
          <td></td>
        {% else %}
          {% for doc_title in document_titles %}
          <td style="word-break:break-all;">{{doc_title}}</td>
          {% endfor %}
        {% endif %}
    </tr>
    <tr>
      <th style="width:20%;">リンク</th>
        <!--検索結果が空の場合-->
        {% if not document_links %}
          <td></td>
        {% else %}
          {% for doc_link in document_links %}
          <td style="word-break:break-all;">{{doc_link}}</td>
          {% endfor %}
        {% endif %}
    </tr>
    <tr>
      <th style="width:20%;">参照回数</th>
        <!--検索結果が空の場合-->
        {% if not document_counts %}
          <td></td>
        {% else %}
          {% for doc_count in document_counts %}
          <td style="word-break:break-all;">{{doc_count}}</td>
          {% endfor %}
        {% endif %}   
    </tr>
  </table>
</div>

<p>技術者 ランキング</p>
<div class="container-fluid text-center mb-5" style="width:100%;background-color:aliceblue;overflow: auto;">
  <table style="width:100%;" border="1">
    <tr>
      <th style="width:20%;">技術者</th>
        <!--検索結果が空の場合-->
        {% if not engineer_names %}
          <td></td>
        {% else %}
          {% for eng_name in engineer_names %}
          <td style="word-break:break-all;">{{eng_name}}</td>
          {% endfor %}
        {% endif %}
    </tr>
    <tr>
      <th style="width:20%;">リンク</th>
        <!--検索結果が空の場合-->
        {% if not engineer_links %}
          <td></td>
        {% else %}
          {% for eng_link in engineer_links %}
          <td style="word-break:break-all;">{{eng_link}}</td>
          {% endfor %}
        {% endif %}
    </tr>
    <tr>
      <th style="width:20%;">参照回数</th>
        <!--検索結果が空の場合-->
        {% if not engineer_counts %}
          <td></td>
        {% else %}
          {% for eng_count in engineer_counts %}
          <td style="word-break:break-all;">{{eng_count}}</td>
          {% endfor %}
        {% endif %}
    </tr>
  </table>
</div>

<p>ツール ランキング</p>
<div class="container-fluid text-center mb-5" style="width:100%;background-color:aliceblue;overflow: auto;">
  <table style="width:100%;" border="1">
    <tr>
      <th style="width:20%;">ツール名</th>
        <!--tool検索結果が空の場合-->
        {% if not tool_names %}
          <td></td>
        {% else %}
          {% for tool_name in tool_names %}
          <td style="word-break:break-all;">{{tool_name}}</td>
          {% endfor %}
        {% endif %} 
    </tr>
    <tr>
      <th style="width:20%;">リンク</th>
        <!--tool検索結果が空の場合-->
        {% if not tool_links %}
          <td></td>
        {% else %}
          {% for tool_link in tool_links %}
          <td style="word-break:break-all;">{{tool_link}}</td>
          {% endfor %}
        {% endif %}   
    </tr>
    <tr>
      <th style="width:20%;">参照回数</th>
        <!--tool検索結果が空の場合-->
        {% if not tool_counts %}
          <td></td>
        {% else %}
          {% for tool_count in tool_counts %}
          <td style="word-break:break-all;">{{tool_count}}</td>
          {% endfor %}
        {% endif %}    
    </tr>
  </table>
</div>
{% endblock %}
