<!-- テンプレートの継承 -->
{% extends "common/base.html" %}
{% load static %}

{% block Title %}
<div class="login title">
  <b>過去事例表示</b>
</div>
{% endblock %}

{% block three_column %}
{% endblock %}


{% block content %}
<div class="container-fluid text-center" style="width:100%;float:right;background-color:aliceblue;overflow: scroll;">
  <table style="width:100%;-ms-writing-mode: tb-lr;writing-mode: vertical-lr;" border="1">
    <tr>
      <th>記述表示</th>
      <th>記述のタイトル</th>
      <th>事例の説明</th>
      <th>アクション</th>
      <th>意図</th>
      <th>知識・道具</th>
      <th>注釈</th>
      <th>導出根拠</th>
      <th>出力</th>
    </tr>
    {% for lld_action in lld_actions %}
    <tr>
      {% for lld_action_elem in lld_action %}
      {% if forloop.counter0 == 0 %}
      <td>
        <form method="POST" action="{%url 'checklists:top' %}" target="_blank" >
          {% csrf_token %}
          <button type="submit">表示</button>
          <input type="hidden" name="gpm_graph_uri" value="{{gpm_graph_uri}}" >
          <input type="hidden" name="lld_graph_uri" value="{{lld_action_elem}}" >
        </form> 
      </td>
      {% elif forloop.counter0 == 1 %}
      <td style="word-break:break-word;">
        <span style="writing-mode:horizontal-tb">{{lld_action_elem}}</span>
      </td>
      {% elif forloop.counter0 != 0 and forloop.counter0 != 1 %}
      <td style="word-break:break-word;writing-mode: horizontal-tb;">{{lld_action_elem}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}

  </table>
</div>

{% endblock %}
